html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #172121;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}


.main {
    background-color: #f1ffe7;
    border-radius: 16px;
    max-width: 624px;
    margin: 16px;
    padding: 32px;
    display: flex;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .main {
        margin-top: 128px;
    }
}

.about__describe {
    margin: 0;
    line-height: 22px;
}

.about__describe--media {
    margin-top: 16px;
}

.header {
    margin-bottom: 24px;
}

.header__title,
.header__subtitle {
    margin: 0;
}

.header__title {
    font-size: 36px;
    font-weight: normal;
}

.header__subtitle {
    font-size: 18px;
    font-family: "Iceberg", cursive;
    color: #5a5a66;
}

.photo {
    margin-right: 32px;
    width: 168px;
    height: 232px;
    flex-shrink: 0;
}

.strong {
    font-weight: normal;
    color: #b80c09;
}

.about__link {
    text-decoration: none;
    color: #134611;
    transition: font-weight .3s linear;
    transition: transform .3s linear;
}

.about__link:hover {
    font-weight: bold;
    transform: scaleX(1.05);
}